body {
  margin:0;
  padding:0;
  background-image: url('http://fanaru.com/rick-and-morty/image/41703-rick-and-morty-mr-meeseeks-wallpaper.jpg');
  background-size: cover;
  display:flex;
  flex-direction: row;
}
header input {
  margin-top: -5em;
  margin-bottom: 1em;
  display: inline;
  height: 30px;
  width: 15em;
  font-size: 20px;
  border-radius: 10px;
  border: solid black 2px;
  text-align: center;
  background-color: inherit;
  color: white;
}
header input:focus{
  outline:none;
}
div {
  display:flex;
  justify-content: center;
  margin-bottom: ;
  align-items: center;
}
main {
  display:flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  margin-top: 4em;
  margin-left: 5%;
}
div input {
  height: 30px;
  width: 150px;
  font-size: 20px;
  border-radius: 20px;
  border: solid black 2px;
  margin-right: 1em;
  text-align: center;
  background-color: inherit;
  color: black;
}
div input:focus{
  outline:none;
}
div p {
  font-size: 30px;
  margin-right: 1em;
  width:25px;
  text-align: center;
  font-family: sans-serif;
}


div button {
  height: 2em;
  width: 2em;
  border-radius: 5px;
  border: solid black 2px;
  margin-right: 0.5em;
  font-size: 16px;
}
div button:focus{
  outline: none;
}
button.uni {
  height: 2em;
  width: 2em;
  border-radius: 15px;
  border: solid black 2px;
  background-color: white;
  /*margin-left: 1em;*/
  font-size: 16px;
}

button.p1add, button.p1reduce {
  background: #FF4242;
  border-radius: 15px;
}

button.p2add, button.p2reduce {
  background: #42FFD2;
  border-radius: 15px;
}

button.p3add, button.p3reduce {
  background: #42FF6B;
  border-radius: 15px;
}

button.p4add, button.p4reduce {
  background: #FF42FF;
  border-radius: 15px;
}

button.p5add, button.p5reduce {
  background: #4255FF;
  border-radius: 15px;
}

button.p6add, button.p6reduce {
  background: #FF7E42;
  border-radius: 15px;
}

button.p7add, button.p7reduce {
  background: #FF4242;
  border-radius: 15px;
}

button.p8add, button.p8reduce {
  background: #42FFD2;
  border-radius: 15px;
}

button.p9add, button.p9reduce {
  background: #42FF6B;
  border-radius: 15px;
}

button.p10add, button.p10reduce {
  background: #FF42FF;
  border-radius: 15px;
}

button.p11add, button.p11reduce {
  background: #4255FF;
  border-radius: 15px;
}

button.p12add, button.p12reduce {
  background: #FF7E42;
  border-radius: 15px;
}
